<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="m-3 text-center">Hello, {{ username }}</h1>
    <!-- <div class="container"><canvas id="membership-canvas"></canvas></div> -->
    
    <div class="container" id="hold-on">
        <div class="row">
            <div class="col-12">
                <h5>Hold on...</h5>
            </div>
            <div class="col-12">
                <p>Checking your membership status, this may take a few seconds...</p>
            </div>
        </div>
    </div>

    <div id="dom"></div>



    <script src="become-member.js"></script>
</body>
</html>