<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic</span>: Lessons</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../../static/pictures/website/lessons.png" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">A quick summary:</h2>
                                <p>
                                    The <strong>sfzMusic</strong> lessons service is designed to help private music educators manage their lessons and students' progress online. Similar to most university class management sites, <strong>sfzMusic</strong>                                    is designed to be a one-stop-shop for all your lesson needs.
                                </p>
                                <a href="/dashboard" class="btn btn-secondary btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-1">
        <!-- Why did I make this site? -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Why?</h3>
            <p>
                Taylor Reese King, the owner of <strong>sfzMusic</strong>, has always struggled with managing his students' progress and lesson schedules. He tried many different methods, from paper calendars to online calendars, but none of them have
                been as effective as he'd liked. He wanted to create a site that would allow him to manage his students' progress and lesson schedules in one place in order to make his life easier. We hope that you find this site as useful as he has.
            </p>
        </div>
        <!-- What specifically does this have to offer? -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">What does it have to offer?</h3>
            <p>
                <ul>
                    <li>
                        <h5>Curriculums</h5>
                        <p>
                            Create and manage your own curriculums for your students! Each curriculum can have subtopics which you can use to track your students' progress.
                        </p>
                    </li>
                    <li>
                        <h5>Class Management</h5>
                        <p>
                            Manage your students' progress and lesson schedules in one place. Here, you can view when your students have their next lesson, what they are working on, and their lesson logs!

                            <br><br> With the <i>Send Email</i> function, you have the ability to communicate with all of your students at once! You can filter your students by their class, lesson date, and more!
                        </p>
                    </li>
                </ul>
            </p>
        </div>
        <!-- Future of lessons -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">
                Future Features of Lessons
            </h3>
            <ul>
                <li>
                    <h5>Attachments</h5>
                    <p>
                        Soon, you'll be able to attach any file to your curriculums and lesson logs! While this does pose a copyright issue, are only allowed to upload files you have created yourself or own the copyright to.
                    </p>
                </li>
                <li>
                    <h5>Practice Tools</h5>
                    <p>
                        Soon, you'll be able to create practice tools for your students to use! These practice tools will be able to be attached to your curriculums and lesson logs.

                        <br>Some of these tools include:
                    </p>
                    <ul>
                        <li>
                            <h6>Tuning Trainer</h6>
                            <p>
                                Given the complexities of temperament, we want to create a tuner that not only trains its user to tune their instrument, but to fundamentally understand the subtleties of tuning. This includes the different perspectives on how to tune scales, intervals,
                                and chords.
                            </p>
                        </li>
                        <li>
                            <h6>Reading Trainer</h6>
                            <p>
                                This tool will be able to generate random notes and rhythms for the user to read. The user will be able to select the key signature, instrument, time signature, and clef. The user will also be able to select the range of notes that will be generated.
                                There are several tools that do this already, but we want to design it so that it is easier to use and more effective.
                            </p>
                        </li>
                        <li>
                            <h6>Ear Trainer</h6>
                            <p>
                                Ear training is a very important skill for musicians to have. We want to build a tool to help its users develop their ability to hear and identify intervals, chords, rhythms, and scales.
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Assignments</h5>
                    <p>
                        Assignments will be a feature that allows you to assign qualitative tasks to your students using the future <strong>sfzMusic</strong> lesson tools! These assignments will show up in their dashboard and can be used to help guide
                        them in their learning!
                    </p>
                </li>
                <li>
                    <h5>Choordinate</h5>
                    <p>

                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>