<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic</span>: Ensembles</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../../static/pictures/website/ensemble-management.png" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">A quick summary:</h2>
                                <p>
                                    The <strong>sfzMusic</strong> ensemble management service is geared towards helping you organize your ensembles. We want to make it so that you can focus on the music, and not the logistics of how the sheet music is
                                    distributed.
                                </p>
                                <a href="/dashboard" class="btn btn-secondary btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-2">
    <div class="row mb-1">
        <!-- Why did I make this site? -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Why?</h3>
            <p>
                In Spring 2019, Taylor Reese King, (the owner of sfzMusic) started a new job as a librarian at Boise State University in the Department of Music. During his time there, he wanted to streamline the efficiency of the sheet music storage, distribution, organization,
                and management. It was important to have this be optimized so that the students could focus on the music, and not spend valuable rehearsal time figuring out the logistics of how to get the music to the students.

                <br><br> To do this, Taylor built a spreadsheet and wrote several scripts to automate the music distribution, checking in/checking out, and new music catalog processes. This worked well for a while, but it was not scalable. It was also
                not very user friendly, to which Taylor decided to build a web application to make the process easier for the students and the librarians and for the software to be accessible from anywhere, not just Boise State University.
            </p>
        </div>
        <!-- What specifically does this have to offer? -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">
                What does it have to offer?
            </h3>
            <ul>
                <li>
                    <h5>Ensemble Management</h5>
                    <p>
                        On this page, you can build your ensemble by adding members, creating its instrumentation, and adding its pieces. You can also add pieces to your ensemble from any library associated with your account, in doing so, it will pull in pdfs attached to that
                        piece into your File Management page!
                    </p>
                </li>
                <li>
                    <h5>Ensemble File Management</h5>
                    <p>By uploading pdfs, or pulling in pieces from a library on your account, you can split these however you like in order to create custom pdfs for your players! If you have a jazz ensemble and you need to extract Alto 1 from a large pdf,
                        it's easy, just click on the pages, right click on your player, and move them in!</p>
                </li>
            </ul>
        </div>
        <!-- Future of ensembles -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">
                Future Features of Ensemble Management
            </h3>
            <ul>
                <li>
                    <h5>Automatic PDF Splitting</h5>
                    <p>Using the instrumentation and personnel of your ensemble, we want to build a tool to scan your pdfs and split it automatically by recognizing which pages go to which parts! With this tool, you'd be able to scan a pdf and send it to
                        your players in just minutes!</p>
                </li>
                <li>
                    <h5>Rehearsal Communication</h5>
                    <p>Oftentimes, ensembles will have a rehearsal schedule sent out in an email to everyone, we're interested in making a simple tool on our website where you can use the preexisting pieces you placed in your ensemble and create a schedule
                        for your ensemble for everyone to access. Currently, this idea is in the brainstorming phase, but if you're interested, <a href="mailto:contact@sfzMusic.org">let us know!</a>
                    </p>
                </li>
                <li>
                    <h5>Part Recording</h5>
                    <p>We are considering building a simple tool for your ensemble members to record themselves playing their parts, and then you can listen to them and give feedback. This is also in the brainstorming phase and we're thinking about how it'd
                        work with the ensemble management tool, but it may be useful for you!</p>
                </li>
                <li>
                    <h5>Auditions</h5>
                    <p>Lastly, we are also considering building an auditions page, where you can create your own audition materials and send them to potential members, create custom ratings for what you're looking for, compare auditions, and more!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>