<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic</span>: Institutions</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../../static/pictures/website/group.png" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">A quick summary:</h2>
                                <p>
                                    An institution is basically a big account that is accessible from all accounts that are part of the institution. This means that you can have a shared Library, Lessons, and Ensemble Management for all accounts! This is useful for schools, music studios,
                                    and other institutions that require multiple members.
                                </p>
                                <a href="/dashboard" class="btn btn-secondary btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-1">
        <!-- Why did I make this site? -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">What Do Institutions Have To Offer?</h3>
            <p>
                Google Drive is a great resource with many benefits, but with large amounts of data it can get a little clunky. We wanted to make something similar but where each user has their own interface to interact with the same files. This means that everyone under
                the same institution can work on the same Library/Ensemble but they won't be getting in each other's way while they work.
                <br><br> Also, while Google Drive does have the ability to create roles for each user, it is not very customizable. With sfzMusic, you can create roles for each user and customize what they can and can't do with a similar workflow to Discord!
            </p>
        </div>
        <!-- Future of lessons -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">
                Future Features of Institutions
            </h3>
            <ul>
                <li>
                    <h5>Calendar</h5>
                    <p>
                        We are currently working on a feature that will allow you to create a shared calendar for all members of the institution. This will allow you to schedule lessons, rehearsals, and other events for all members of the institution. This will be a great way
                        to keep everyone on the same page!
                    </p>
                </li>
                <li>
                    <h5>Communication</h5>
                    <p>
                        While you work on a project, we want to be able to communicate easily with other members of the institution. We are currently working on a feature that will allow you to send messages to other members of the institution, create comments on specific parts
                        of a project, and more!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>