<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic</span>: Policies</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../../static/pictures/website/security.png" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">TLDR:</h2>
                                <ul>
                                    <li>
                                        <h6>Your Data</h6>
                                        <ul>
                                            <li>
                                                <p>We will not share your data with any external source</p>
                                            </li>
                                            <li>
                                                <p>We will not spam your email; all emails have a functional use for the site</p>
                                            </li>
                                            <li>
                                                <p>All cookies are limited to being strictly necessary</p>
                                            </li>
                                            <li>
                                                <p>Your passwords are encrypted to the latest industry standard</p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h6>Uploading Files</h6>
                                        <ul>
                                            <li>
                                                <p>You must have the copyright owner's permission to upload and share content on this site. Your account will be banned if this is infringed</p>
                                            </li>
                                            <li>
                                                <p>Your files are private; only you/your institution have access to the files you/your institution uploads</p>
                                            </li>
                                            <li>
                                                <p>If you upload a file that breaks the law, your account and IP address will be permanently banned and all your information will be reported to the appropriate authorities.</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="accordion" id="policies-accordion">
            <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="heading0">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        General
                    </button>
                </h2>
                <div id="collapse0" class="accordion-collapse collapse show" aria-labelledby="heading0" data-bs-parent="#policies-accordion">
                    <div class="accordion-body">
                        <p>

                        </p>
                    </div>
                </div>
            </div> -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Your Data
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#policies-accordion">
                    <div class="accordion-body">
                        <p>All data, including your account/institution data, belongs to you and we will not share it with any external source. Your data is safely stored on a database and is only accessible to you or to admins if necessary. We do not send
                            email promotions to you; by signing up, you are not agreeing to a subscription based marketing campaign. All emails sent by sfzMusic are from info@sfzmusic.org, if you receive emails from a similar source and it seems like
                            spam, please report it to us by that email. All passwords are encrypted using an iterative hashing algorithm up to the industry standard of encryption. If you suspect your password has been compromised, please contact us immediately.
                            We do not store your password in plain text, if you lose your password, you will need to reset it as it is impossible to decrypt it.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Uploading Files
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#policies-accordion">
                    <div class="accordion-body">
                        <p>
                            Uploading files that you do not have the copyright owner's permission is only allowed under the condition that you do not use sfzMusic.org to share these files with anyone. Including the Institution and Ensemble Management services. If you do not have
                            the copyright owner's permission and have uploaded files onto here, they can only be there for the sole purpose of an archival backup or educational use. Copyright law states that you cannot do any performance without original
                            music without the permission of the copyright owner. Meaning if you use Ensemble Management pdf sharing services and you perform with the music you do not have the copyright for or its owners permission, you have broken the
                            law.
                            <br><br>If you suspect anyone has uploaded files that violate the law, please contact us immediately. We will remove the files from the site and report the incident to the appropriate authorities. You may not upload files that
                            are in these categories:
                            <ul class="list-style-none">
                                <li>
                                    <p>Defamation</p>
                                </li>
                                <li>
                                    <p>Fraud</p>
                                </li>
                                <li>
                                    <p>Pornography</p>
                                </li>
                                <li>
                                    <p>Obscenities</p>
                                </li>
                                <li>
                                    <p>Hate Speech</p>
                                </li>
                            </ul>
                            We reserve the right to remove any file or any account that we feel violates the law or our terms of service. We do not have to provide any reason for the removal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Payments
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#policies-accordion">
                    <div class="accordion-body">
                        <p>
                            All payments are through <span class="fw-bold">Stripe.com</span>, a third party payment processor. We do not store any card information on our servers, as a result, we do not have access to your card information. If you use
                            the student management service and you wish to collect automated payments through sfzMusic, you must complete the tax information found on the Instructor Account page under Lessons in your dashboard. Similar to your card information,
                            all data is stored on Stripe's servers and we do not have access to it. If you have any questions about your payments, please do not hesitate to contact us at <a href="mailto:info@sfzmusic.org">info@sfzmusic.org</a>.

                            <br><br> Stripe's basic business model is <span class="fw-bold">2.9% + $0.30</span> per successful transaction. All subscriptions to sfzMusic include this fee so you will not be billed more than the price listed on the site.
                            For instructors, if you choose to use sfzMusic's automatic payments service, each transaction will be charged the 2.9% + $0.30 to offset the cost of Stripe. It is recommended you add this to the cost of your lessons to cover
                            this fee (this is calculated on the site, all it takes is a checkbox). This will be no extra cost to you as it will be now added to the price of your lesson. If you do not wish to use this service, you can still simply collect
                            payments through your own method!
                            <!-- <br><br>Another recommendation would be to have two pricing models, one through automatic payments, and one through your own method. This way, you can offer a discount to those who pay through automatic payments, which would
                            be offset by Stripe and those who pay through your own method, you can charge them the "full price" (Stripe offset + a little bit for your time). This is a great way to encourage students to use the automatic payment service
                            and it still comes at no extra cost to you :) -->

                            <br><br> To learn more information of Stripe's privacy policy, please visit <a href="https://stripe.com/us/privacy" target="_blank">https://stripe.com/us/privacy</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Cookies
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#policies-accordion">
                    <div class="accordion-body">
                        <p>
                            We use cookies for functionality only. We do not use tracking cookies or any third party cookies besides those required for Stripe (read Payments). If you see those on your browser, check if you have a password manager (avast, google, logmeonce, etc.),
                            or similar services you have added as extensions and ensure they are from a trusted source. If they are not and you believe they are originating from sfzMusic, please contact us immediately.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>