<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic:</span> About</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../static/pictures/website/teaching.jpg" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">About us</h2>
                                <p>
                                    Our mission is to provide resources for musicians to help them build their studio and maintain their organization.
                                    <br><br> As private music educators, we felt we were spending more of our time in lessons with scheduling, organization, and reminding than we did teaching. We wanted to make a site that would help with the administrative
                                    side of lessons and give you more valuable time to spend with your students.
                                </p>
                                <a href="/dashboard" class="btn btn-secondary btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- <hr class="dropdown-divider"> -->
    <div class="row mb-1">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="../static/pictures/website/lessons.png" class="w-100 rounded shadow">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <span class="d-flex flex-wrap-none align-items-center"><h2 id="lessons" class="pe-2">Lessons <i class="material-icons">school</i></h2> <a href="/about/lessons"><small>Learn More</small></a></span>
            <p>sfzMusic Lessons services are geared towards private instructors and helping them manage their students!</p>
            <ul>
                <li>
                    <h5>Student Management</h5>
                    <p>From here, you can view your classes' students and view information on their payment status (manual), all lesson logs, their next lesson, their next invoice, etc.!</p>
                    <p>
                        We are planning on adding features to automatically send invoices to students, lesson reminders, online recurring payments to instructors, and more!
                    </p>
                </li>
                <li>
                    <h5>Curriculum</h5>
                    <p>Here, we hope you can build your curriculum for your individual classes, this can help your students know what your teaching style is, what your plans are, etc.!</p>
                </li>
                <!-- <li>
                                    <h5>Lesson Planning</h5>
                                    <p>[ Under Construction ]</p>
                                </li> -->
            </ul>
        </div>
    </div>
    <hr class="dropdown-divider">
    <div class="row mb-1">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="../static/pictures/website/library.png" class="w-100 rounded shadow">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <span class="d-flex flex-wrap-none align-items-center"><h2 id="library" class="pe-2">Library <i class="material-icons">library_books</i></h2> <a href="/about/library"><small>Learn More</small></a></span>
            <p>
                sfzMusic Library service helps every ensemble librarian manage all their pieces! Each piece can store pdfs, add varying categories, and more!
            </p>
            <ul>
                <li>
                    <h5>Library Database</h5>
                    <p>
                        This powerful service can store as many libraries as you want all accessible from one page! You can upload pdfs for pieces, check-in/out pieces, create custom columns, have automatic datatypes (catalog numbers, dates, etc.) with more on the way!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <hr class="dropdown-divider">
    <div class="row mb-1">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="../static/pictures/website/ensemble-management.png" class="w-100 rounded shadow">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <span class="d-flex flex-wrap-none align-items-center"><h2 id="ensembles" class="pe-2">Ensembles <i class="material-icons">groups</i></h2> <a href="/about/ensemble-management"><small>Learn More</small></a></span>
            <p>sfzMusic Ensemble service is designed for those ensemble managers who keep track of personnel, music, part requests, instrumentation, etc.
            </p>
            <ul>
                <li>
                    <h5>Ensemble Management</h5>
                    <p>From this page, you can add/remove pieces, change the instrumentation, and in the future, handle all auditions and contact them all together/as a section/individually!</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h5>Ensemble Files</h5>
                    <p>
                        This is currently under construction, but it will be a place to manage pdfs for your ensembles, such as creating folders for players, creating audition materials, etc.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- <hr class="dropdown-divider">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="../static/pictures/website/group.png" class="w-100 rounded shadow">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="d-flex flex-wrap-none align-items-center"><h2 id="institutions" class="pe-2">Institutions <i class="material-icons">business</i></h2> <a href="/about/institutions"><small>Learn More</small></a></span>

            </div>
        </div> -->
    <hr class="dropdown-divider">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="../static/pictures/services/server.jpg" class="w-100 rounded shadow">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <span class="d-flex flex-wrap-none align-items-center"><h2 id="future" class="pe-2">Our Future <i class="material-icons">query_stats</i></h2> <a href="/about/future"><small>Learn More</small></a></span>
            <p>Aside from what has been built, we hope to provide more services for the music community! See below for some things we're considering!
            </p>
            <ul>
                <li>
                    <h5>Website</h5>
                    <p>
                        Every musician needs to have an online portfolio of all the work they've done. While there are lots of sites out there geared towards building your own site, they're often difficult to work with and hard to maintain. This service will be designed for
                        musicians to display the hard work they've done and to work in tandem with the other services sfzMusic has to offer!
                    </p>
                </li>
                <li>
                    <h5>Lessons Studio</h5>
                    <p>
                        Currently, we are centralized to Boise, ID, and we don't yet have an office location. However, we are considering renting a studio for private music educators to utilize to their heart's content! In this studio, we want to provide books, percussion instruments,
                        recording equipment, a sound system, etc. for each room!
                    </p>
                </li>
                <li>
                    <h5>Notation Software and Digital Audio Workstation (DAW)</h5>
                    <p>
                        There are lots of notation softwares and digital audio workstations out there already, but we want to take it a step further. With recent advances in web development, it is possible to have software just as powerful as the ones you download but online
                        and accessible to everyone for a lower price!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>