<div class="container-fluid mb-3" style="margin-top: 56px;">
    <div class="row bg-primary text-light pb-3">
        <div class="jumbotron jumbotron-fluid mt-2">
            <div class="container">
                <h1 class="display-4 text-center"><span class="fw-bold">sfzMusic</span>: Our Future</h1>
                <div class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <img src="../../static/pictures/services/server.jpg" class="w-100 rounded shadow">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h2 id="about-sfz">A quick summary:</h2>
                                <p>
                                    At <strong>sfzMusic</strong>, we have many goals we wish to accomplish. Several small milestones are listed in each services' respective page, but here are some of the larger and more ambitious goals we have for our
                                    future!
                                </p>
                                <a href="/dashboard" class="btn btn-secondary btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center"></h3>
            <ul>
                <li>
                    <h5>Website Creator</h5>
                    <p>
                        You can create a website using wix, wordpress, squarespace, and several others, but those are designed to be for everyone regardless of their business which can make it difficult to create a website quickly. We want to build a website creator tool that is designed specifically for private music educators to get something out there as fast as possible. We will create several templates where all you have to do is upload pictures, connect videos, or write some text in order to get your site on the web! In addition, this site would be able to connect to your lessons page so you have to do as little as possible! Lastly, we would like this service to be free for you to use and connect your domain to!
                    </p>
                </li>
                <li>
                    <h5>Lessons Studio</h5>
                    <p>
                        While you're just getting started as a private music educator, it can be difficult to find a reasonable place to give lessons. We want to rent out a floor of a building and give you all the equipment you need to build up your studio! This would include a full sound system, pianos, recording equipment, percussion equipment, and a library of books for you to utilize so you don't have to buy anything!
                    </p>
                </li>
                <li>
                    <h5>Notation Software</h5>
                    <p>
                        There are a multitude of notation softwares out there already, but most of them are either too expensive, too clunky, too complicated, or too limited. At sfzMusic, we want to create a more user-friendly notation software you can access on any browser. Unlike most other softwares, the workflow with one often doesn't translate to the other, we want to give you the ability to easily transition from name-brand softwares to this one without having to learn an entirely new workflow.
                        <br><br> 
                        With this feature, we want to incorporate this into our Lessons and Ensemble Management services in order to create sheet music for your students or to make custom auditions for your potential ensemble members!
                    </p>
                </li>
                <li>
                    <h5>Digital Audio Workstation</h5>
                    <p>
                        Similar to the above, there are a multitude of DAWs out there already, and they are still expensive, clunky, complicated, and limited. We do want to beat all of that and we have one more goal in mind... The biggest thing to consider when working with live sound is latency, and on a browser, latency can be a big issue. Worry not! There is a way! Due to <a href="https://webassembly.org/" target="_blank">WebAssembly.org</a>, we can create a DAW that is as fast as any native application, but still accessible on any browser.
                        <br><br>
                        Once this is built, it can be easily incorporated into any of our services! For example, you would be able to easily make multi-track recording assignments for your students, virtual ensembles, and more!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>