<div class="row align-items-md-stretch mb-3">
    <!-- <div class="col-lg-6"> -->
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Welcome to sfzMusic!</h2>
            <p>
                We are a group of talented and ambitious people with a wide range of skills and experience. We love what we do, and we do it with passion.
            </p>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="/about" class="btn btn-secondary">About Us</a>
                    </div>
                    <div class="col">
                        <a href="/contact" class="btn btn-secondary">Contact</a>
                    </div>
                    <div class="col">
                        <a href="/member/dashboard" class="btn btn-secondary">Member Portal</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>



<h2 class="text-center mb-3">Our Team</h2>

<h3 class="text-center">Board of Directors</h3>
<div class="row">
    <repeat id="boardOfDirectors">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="../uploads/{{ picture }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ title }}</p>
                    <a href="/about-member/tsaxking" class="btn btn-primary">About Taylor</a>
                </div>
            </div>
        </div>
    </repeat>
</div>

<hr>

<h3 class="text-center">Members</h3>
<div class="row">
    <repeat id="members">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="../uploads/{{ picture }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title capitalize">{{ name }}</h5>
                    <p class="card-text capitalize">{{ title }}</p>
                    <a href="/about-member/{{ username }}" class="btn btn-primary capitalize">About {{ firstName }}</a>
                </div>
            </div>
        </div>
    </repeat>
</div>